
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #fa8fb1;
    font-size: 1rem;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    height: 120px; 
    width: 120px;  
    margin-right: 10px; 
    vertical-align: middle; 
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.auth-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap; 
}

.auth-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.auth-card h2 {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.btn-auth {
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.2s;
}

.btn-login {
    background-color: #fa8fb1;
}

.btn-login:hover {
    background-color: #f74780;
}

.btn-register {
    background-color: #af69cd;
}

.btn-register:hover {
    background-color: #7f00b2;
}